<html>
<head>
  <title>download</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'pec/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'pec/css/style.css' %}" />
</head>
<body>
  <div class="container">
    <div role="banner">
      <div style="text-align: left;">
        <a class="logo" href="{% url 'pec:index' %}">Past Exam Collection</a>
      </div>
    </div>

    <div role="navigation">
      <ul>
        <li class="active"><a href="{% url 'pec:download' %}">downlaod</a></li>
        <li><a href="{% url 'pec:upload' %}">upload</a></li>
        <li><a href="{% url 'pec:edit' %}">edit</a></li>
      </ul>
    </div>
    <a href="{% url 'pec:index' %}">pec</a> &gt; <a href="{% url 'pec:download' %}">download</a>
    {% if subject_list %}
    <hr>
    <div class="main">
      <h2>Download</h2>
      <ul>
        {% for subject in subject_list %}
        <li><a href="{% url 'pec:download_detail' subject.id %}">{{subject.name_jp}}</a></li>
        {% endfor %}
      </ul>
    </div><!-- main  -->
  </div><!-- container -->

  {% else %}
  <p>PECはただいま利用できません</p>
  {% endif %}

</body>
</html>
