<html>
<head>
  <title>upload</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'pec/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'pec/css/style.css' %}" />
</head>
<body>
  <div class="container">
    <div role="banner">
      <div style="text-align: left;">
        <a class="logo" href="{% url 'pec:index' %}">Past Exam Collection</a>
      </div>
    </div>

    <div role="navigation">
      <ul>
        <li><a href="{% url 'pec:download' %}">downlaod</a></li>
        <li class="active"><a href="{% url 'pec:upload' %}">upload</a></li>
        <li><a href="{% url 'pec:edit' %}">edit</a></li>
      </ul>
    </div>

    <!-- パンくずリスト -->
    <a href="{% url 'pec:index' %}">pec</a> &gt; <a href="{% url 'pec:upload' %}">upload</a>
    <hr>

    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div role="main">
          <h1>Upload</h1>
          <br>

          {% if error_messages %}
          <h2> Info </h2>
          {% for error_message in error_messages %}
          <div>{{error_message}}</div>
          {% endfor %}
          <hr>
          {% endif %}


          {% if file_uploaded %}
          <h2> Info </h2>
          <div>{{request_files}}がアップロードされて、
            <br>{{file_name}}として保存しました。
            <br>ご協力ありがとうございました。
            <br><a href="{% url 'pec:download_detail' subject.id %}">ダウンロードページへ</a>
          </div>
          <hr>
          {% endif %}

          <form id="upload_form" action="{% url 'pec:upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- ファイル選択 -->
            <div><span style="font-size: 20px;">1. </span>アップロードするファイルを選択してください (pdf or tar)：</div>
            {{ file_form }}
            <hr>

            <!-- 科目選択 -->
            <div><span style="font-size: 20px;">2. </span>科目選択</div>
            <select id="subject" name="subject" onChange="add_selectable_new_subject(); check_form_before_upload()">
              <option value="no_select">選択してください</option>
              {% for subject in existing_subject_list %}
              <option value="{{subject.name_en}}">{{subject.name_jp}}</option>
              {% endfor %}
              <option value="new_subject">新しく追加</option>
            </select>
            <br>
            
            <div id="selectable_new_subject">
            </div>
            <div id="info_new_subject">
            </div>

            <hr>
            <!-- 年度選択 -->
            <div><span style="font-size: 20px;">3. </span>年度選択</div>
            <select id="year" name="year" onChange="check_new_year()">
              {% for year in year_list %}
              {% if forloop.first %}
              <option value="{{year.name_en}}" selected>{{year.name_en}}, {{year.name_jp}}</option>
              {% else %}
              <option value="{{year.name_en}}">{{year.name_en}}, {{year.name_jp}}</option>
              {% endif %}
              {% endfor %}
            </select>

            <hr>
            <!-- 項目選択 -->
            <div><span style="font-size: 20px;">4. </span>項目選択 [+番号]</div>
            <select id="exam_item" name="exam_item" onChange="check_form_before_upload()">
              <option value="no_select">選択してください</option>
              {% for exam_item in exam_item_list %}
              <option value="{{exam_item.name_en}}">{{exam_item.name_jp}}</option>
              {% endfor %}
            </select>

            <!-- 項目番号選択 -->
            <select id="exam_item_number" name="exam_item_number">
              {% for num in exam_item_number %}
              {% if forloop.first %}
              <option value="0">指定なし</option>
              {% else %}
              <option value="{{num}}">{{num}}</option>
              {% endif %}
              {% endfor %}
            </select>
            <hr>

            <!-- 解答選択 -->
            <div><span style="font-size: 20px;">5. </span>解答選択</div>
            <input type="radio" name="answer" id="notonlyans" value="notonlyans" onclick="" checked>
            <label style="width: 200px;" for="notonlyans">問題のみ or 問題＋解答</label>
            <br>
            <input type="radio" name="answer" id="onlyans" value="onlyans" onclick="">
            <label style="width: 200px;" for="onlyans">解答のみ</label>
            <hr>

            <!-- アップロード -->
            <div><span style="font-size: 20px;">6. </span>アップロード</div>
            <br>
            <input class="btn btn-primary" type="submit" value="upload file" name="upload_form_submit" id="upload_form_submit" disabled>
            <div>全てのフォームが入力されていることを<br>確認してアップロードしてください</div>

          </form>
        </div><!-- main -->
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="complementary">
          {% if existing_subject_list %}
          <h2>Download</h2>
          <ul>
            {% for subject in existing_subject_list %}
            <li><a href="{% url 'pec:download_detail' subject.id %}">{{subject.name_jp}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div><!-- complementary -->
      </div>
    </div><!-- row -->
  </div><!-- container -->
  <script>
  /* フォームのファイルを選択をしたときに関数を呼び出すために属性を追加 */
  document.getElementById('id_file').setAttribute('onChange', 'check_form_before_upload();');
  /* フォームのファイルを選択で選択できるファイルの拡張子を指定 */
  document.getElementById('id_file').setAttribute('accept', '.pdf, .tar');

  function check_form_before_upload(){
    /*
    * 全てのフォームが記入済みであるか確認する
    * 全てのフォームが記入済みだったらアップロードボタンを押せるようになる
    */
    var submitable = true;
    var form_elements = document.forms['upload_form'].elements;

    if (form_elements['id_file'].value == ''){
      submitable = false;
    } else {
      var strings = form_elements['id_file'].value.split('.');
      strings.shift();
      var extension = '.' + strings.join('.');
      if (extension != '.pdf' && extension != '.tar'){
        submitable = false;
      }
    }
    if (form_elements['subject'].value == 'no_select') {
      submitable = false;
    } else {
      if (form_elements['subject'].value == 'new_subject' && form_elements['new_subject'].value == 'no_select'){
        submitable = false;
      }
    }
    if (form_elements['exam_item'].value == 'no_select') {
      submitable = false;
    }

    form_elements['upload_form_submit'].disabled = !(submitable);
  }

  function add_selectable_new_subject(){
    /*
    * 科目フォームで新しく追加を選択したとき、まだ過去問がない科目を
    * 選択できるフォームが出現する
    */
    if(document.forms['upload_form'].elements['subject'].value == 'new_subject'){
      var info_new_subject = document.getElementById('info_new_subject');
      info_new_subject.innerHTML = '(科目選択で「新しく追加」を選択してください)';

      var selectable_new_subject = document.getElementById('selectable_new_subject');
      var select = document.createElement('select');
      select.setAttribute('id', 'new_subject');
      select.setAttribute('name', 'new_subject');
      select.setAttribute('onChange', 'check_form_before_upload();');
      var option = document.createElement('option');
      option.setAttribute('value', 'no_select');
      option.innerHTML = 'さらに選択してください';
      select.appendChild(option);

      {% for subject in new_subject_list %}
      option = document.createElement('option');
      option.setAttribute('value', '{{subject.name_en}}');
      option.innerHTML = '{{subject.name_jp}}';
      select.appendChild(option);
      {% endfor %}
      selectable_new_subject.appendChild(select);
    }
  }

  </script>

</body>
</html>
